@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  
  --color-background: #fcfcfc;
  --color-foreground: #1a1a1a;
  
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
  font-family: var(--font-mono);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.grid-pattern {
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 20px 20px;
  min-height: 100vh;
}